In [1]:
import pandas as pd
import random

In [9]:
# Симуляция данных
id_num = [i for i in range(100)]
id_client = [random.randint(10000, 10000000) for i in range(100)]
df = pd.DataFrame(data={'id_num':id_num, 'id_client':id_client})
df.head(2)

   id_num  id_client
0       0    9030399
1       1    2935851

In [55]:
df[1:5]

   id_num  id_client
1       1    2935851
2       2    3325432
3       3    9836897
4       4    3510514

In [41]:
# Сама функция
def group_customers(n_customers):
  group_dict ={}
  ids = df.id_client.values[:n_customers]

  for id in ids:
    group = sum(list(map(int, str(id))))
    if group in group_dict.keys():
      group_dict[group] = group_dict[group]+1
    else:
      group_dict[group] = 1

  return pd.DataFrame(data={'Group':group_dict.keys(), 'Count':group_dict.values()})

In [44]:
group_customers(50).head(5)

   Group  Count
0     33      3
1     22      1
2     50      1
3     19      1
4     18      2

In [62]:
def group_customers_by_first_id(n_customers, n_first_id):
  group_dict ={}
  ids = df.id_client.values[n_first_id:n_customers+n_first_id]

  for id in ids:
    group = sum(list(map(int, str(id))))
    if group in group_dict.keys():
      group_dict[group] = group_dict[group]+1
    else:
      group_dict[group] = 1

  return pd.DataFrame(data={'Group':group_dict.keys(), 'Count':group_dict.values()})

In [66]:
group_customers_by_first_id(3, 20)

   Group  Count
0     29      1
1     31      1
2     39      1